@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background-color: #f7f9fc;
  font-family: "Martel Sans", "Quicksand", "Noto Serif SC", -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
}
